<div class="container-fluid bg-ddark">
  <!-- titleImg -->
  <div class="row px-5 bg-dgray">
    <div class="col-12 mt-5 bgat" #bgat style="height: 400px;"></div>
  </div>
    <!-- Introduce -->
  <div class="row bg-dgray justify-content-center text-center text-white">
    <div class="col-12 col-md-6"><br><br><h1 style="line-height:1.25em"><span class="title">INTRODUCING C & SEA MUSIC</span></h1><br><br>
      <div class="h3 title3">Pursue Your Dreams</div>
      <br>
      <div class="m2">If you're looking to expand your skill set and pursue a career your love, look no further. With out variety of courses, exceptional teachers and welcoming student environment. C & Sea music is the place for you.</div>
      <br/><br/><br/>
      <div style="color:rgb(180, 180, 180)">Learn More</div>
      <br/><br/><br/>
    </div>
  </div>
  <!-- More about us -->
  <div class="row mx-5 mt-5 bg-dgray justify-content-center text-center text-white">
      <div class="col-12 col-md-6">
        <br><br><br>
        <i class="fas fa-check-circle"></i>
        <div class="title2"><br><br>MORE ABOUT US</div>
        <br><br><br>
        <div class="title3">Educating. Guiding. Inspiring.</div>
        <br><br><br>

        <div class="m2">Since opening our doors, we’ve been committed to helping people pursue a career they love. With our passionate teachers, exceptional staff and a talented student community, we’re confident in the education, guidance and network you will find here.</div>
        <br><br>
      <div class="m2">C & Sea Music provides a unique and highly personalized method of learning, creating an environment to nurture, educate and encourage creative individuals to achieve the highest level of success. Browse through our site to learn more about what we have to offer.</div>
      <br><br>
      </div>
    </div>

    <!-- News -->
    <div class="row bg-dgray mt-5 text-white text-center justify-content-center">
        <br><br>
        <div class="col-12 my-5"><h2 class="title2">NEWS</h2></div>

        <div class="col-5 mb-4 bg-ddark mr-5 px-5">
          <div><br><br><br><br><br><br></div>
          <div class="subtitle mb-5"> CAMPUS RENOVATIONS TO START NEXT SUMMER </div> 
          <div class="m2"> This is your news article. It’s a great place to update visitors with the latest press and announcements about C & Sea Music. Choose an eye-catching photo or video to feature for extra engagement!</div>
        </div>
        <div class="col-5 mb-4 p-0 pic1" style="height:480px;"> 
          <!-- <img class="w-100 h-100 d-block mx-auto pic1" src="https://static.wixstatic.com/media/0a46fb391aff4661853cc7352ae6f0fe.jpg/v1/fill/w_1699,h_550,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01/0a46fb391aff4661853cc7352ae6f0fe.webp"> -->
        </div>

      <div class="col-5 mb-4 mr-5 p-0" style="height:480px;">
        <img class="w-100 h-100" src="https://static.wixstatic.com/media/179c404df143489fbc552a335e84b08c.jpg/v1/fill/w_804,h_576,fp_0.50_0.50,lg_1,q_85/179c404df143489fbc552a335e84b08c.webp" alt="">
      </div>
      <div class="col-5 mb-4 px-5 bg-ddark" >
        <div><br><br><br><br><br><br></div>
        <div class="subtitle mb-5">FIRST YEAR ORIENTATION HIGHLIGHTS</div> 
        <div class="m2">This is your news article. It’s a great place to update visitors with the latest press and announcements about C & Sea Music. Choose an eye-catching photo or video to feature for extra engagement!</div>
      </div>

      <div class="col-5 mb-4 bg-ddark mr-5 px-5">
        <div><br><br><br><br><br><br></div>
        <div class="subtitle mb-5">NEW COURSE SCHEDULE ANNOUNCED </div> 
        <div class="m2">This is your news article. It’s a great place to update visitors with the latest press and announcements about C & Sea Music. Choose an eye-catching photo or video to feature for extra engagement!</div>
      </div>
      <div class="col-5 mb-4 p-0" style="height:480px;"><img class="w-100 h-100" src="https://static.wixstatic.com/media/de55de6701cc4e7a9b9f084e066d35d7.jpg/v1/fill/w_838,h_600,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01/de55de6701cc4e7a9b9f084e066d35d7.webp" alt=""></div>
    </div>

    <!-- "The Guitar Was My Weapon" -->
    <div class="row text-center text-white">
      <div class="col-12"> 
        <br><br><br><br>
        <i class="fas fa-quote-right"></i><br>
        <div class="my-5 subtitle-white">"The Guitar Was My Weapon, My Shield To Hide Behind"</div>
        <br><br><br>
        <div class="title3 mb-5">Bryan May</div>
      </div>
      <br><br><br><br>
    </div>

    <!-- Contact -->
    <div class="row contact">
      <div class="container px-5">
        <div class="row text-white text-center">
          <div class="col-12 title2 my-5">Contact</div>
          <div class="col-6"><input class="form-control" type="text" placeholder="Name"></div>
          <div class="col-6"><input class="form-control" type="text" placeholder="Email"></div>
          <div class="col-12 my-5"><input class="form-control" type="text" placeholder="Subject"></div>
          <div class="col-12"><input class="form-control" type="text" placeholder="Message"></div>
          <div class="col-12 my-5"><button class="btn btn-outline-light">Send</button></div>
        </div>
      </div>
    </div>
</div>
